@font-face {
  font-family: 'ProtestStrike';
  src: url('@/shared/fonts/ProtestStrike-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('@/shared/fonts/Merriweather-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('@/shared/fonts/Merriweather-Light.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('@/shared/fonts/Roboto-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('@/shared/fonts/Roboto-Italic.ttf') format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('@/shared/fonts/Roboto-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: italic;
}
