$accent-100:#94DB5C;
$accent-100--hover:#8CD157;
$accent-200:#CC7E46;
$accent-200--hover: #b46f3e;
$accent-300:#D73434;

$neutral-100:#DBDBDB;
$neutral-200:#1E1E1E;
$neutral-300:#575757;
$neutral-400:#6593BB;

$tablet: 768px